<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <header class="bg-secondary">
    <div class="px-3 h-100 d-flex justify-content-between align-items-center">
      <div>
        <h2 class="text-white">wegram</h2>
      </div>

      <div th:if="${session.userName == null}">
        <a href="/sns/sign-in">로그인</a>
      </div>

      <div th:unless="${session.userName == null}">
        <span th:text="|${session.userName}님 안녕하세요.|"></span>
        <a href="/sns/sign-out">로그아웃</a>
      </div>
    </div>
  </header>
</th:block>
</html>